.navbar {
    background-color: #9c2d4d;
    position: fixed;
    top:0;
    width: 100%; 
    height: 5.5%;
}

.navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 4rem;
    margin-left:1rem;
    font-size: 1rem;
    font-weight: bolder;
    white-space: nowrap;
    color: #ffffff;
}

.nav-link {
    
    color: white;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-variant-caps: small-caps;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover, .nav-link:focus {
  color: rgb(255,277,137);
}


body {    
    margin:0;
    padding-top:50px;

    
 }

.izquierda {
    padding-top: 2rem;
    background: rgb(255, 231, 123); 
    height: 100vh;
    width: 14%;
    text-align: center;
 }

 .derecha {
    padding-top: 2rem;
    color: #9c2d4d;
    background: rgb(255, 255, 255);  
    height: 100vh;
    width: 100%;
    padding-left:4rem;
    text-align: left;
    
    
    
 }
 #pantalla-dividida{

    display: flex;

 }

 #contenedor {
    text-align: left;
    width: 83%;
    
   }
   
   #lateral {
    
    background: rgb(236, 233, 224);    
    float:right; 
	width: 40%;
    height: 100%;
	
   }
        #listajugadores {
            height: 50vh;
            background: #ffffff;
            overflow-y: scroll
        }
	

   
   
   #principal {
    width: 50%;
    height: 100%;
    float: left;
    background: rgb(236, 233, 224);  
    
   }
   
   .clearfix:after {
     content: "";
     display: table;
     clear: both;
   }

footer {
    background: #c01e4c; 
    width: 100%;
    text-align: center;
    text-decoration: solid;
    }

